<f:layout name="Default" />

<f:section name="Title">A list of users</f:section>

<f:section name="Content">
	<f:if condition="{users}">
		<f:then>
			<ul>
				<f:for each="{users}" as="user">
					<li>
					<f:link.action action="show" arguments="{user: user}">{user.name}</f:link.action>
					<f:link.action action="edit" arguments="{user: user}">Edit</f:link.action>
					<f:link.action action="delete" arguments="{user: user}">Delete</f:link.action>
					</li>
				</f:for>
			</ul>
		</f:then>
		<f:else>
			<p>No users created yet.</p>
		</f:else>
	</f:if>
	<p><f:link.action action="new">Create a new user</f:link.action></p>
</f:section>