<f:flashMessages severity="OK" as="flashMessages">
	<div class="neos-alert neos-alert-success">
		<button data-dismiss="alert" class="neos-close" type="button">×</button>
		<f:for each="{flashMessages}" as="flashMessage">
			{flashMessage}
		</f:for>
	</div>
</f:flashMessages>

<f:flashMessages severity="Error" as="flashMessages">
	<div class="neos-alert neos-alert-error">
		<button data-dismiss="alert" class="neos-close" type="button">×</button>
		<f:for each="{flashMessages}" as="flashMessage">
			{flashMessage}
		</f:for>
	</div>
</f:flashMessages>

<f:flashMessages severity="Warning" as="flashMessages">
	<div class="neos-alert neos-alert-Notice">
		<button data-dismiss="alert" class="neos-close" type="button">×</button>
		<f:for each="{flashMessages}" as="flashMessage">
			{flashMessage}
		</f:for>
	</div>
</f:flashMessages>