<f:form.validationResults for="{for}">
	<f:if condition="{validationResults.flattenedErrors}">
		<div class="alert alert-error form-error error">
			<button data-dismiss="alert" class="close" type="button">×</button>
			<f:for each="{validationResults.flattenedErrors}" key="propertyPath" as="errors">
				<f:for each="{errors}" as="error">
					<f:translate id="lelesys.plugin.news.error.{error.code}">
					{error.code}
					</f:translate>
				</f:for>
			</f:for>
		</div>
	</f:if>
</f:form.validationResults>