<f:layout name="Default" />

<f:section name="Title"></f:section>

<f:section name="Content">
	<div class="news-list-container container-fluid">
		<div class="span9 horizontal">
			<h2>Archive Menu</h2>
		</div>
		<f:if condition="{archiveView}">
			<f:then>
				<div class="clearfix">
				<div class="span9 clearfix">
					<f:for each="{archiveView}" as="archiveYearDate" key="year">
						<ul><b>{year}</b>
							<f:for each="{archiveYearDate}" as="newsCount" key="month">
								<li><f:link.action action="showArchiveNews" arguments="{year:year, month: month}">{month}</f:link.action> &nbsp;&nbsp;({newsCount})</li>
							</f:for>
						</ul>
					</f:for>
				</div>
				</div>
			</f:then>
		</f:if>
	</div>

</f:section>
