<f:layout name="Default" />

<f:section name="Title"></f:section>

<f:section name="Content">
	<div class="news-list-container container-fluid">
		<div class="span9 horizontal">
			<h2><f:translate id="lelesys.plugin.news.archive"></f:translate></h2>
			<f:security.ifAccess resource="TYPO3_Neos_Backend_GeneralAccess">
				<f:then>
					<f:form action="archive" controller="News" name="newsBySelection" id="newsBySelection">
						<f:form.select options="{categories}" optionLabelField="title" value="{categoryId}" property="category" prependOptionLabel="Select category" id="category" name="category"  />
						<f:form.select options="{folders}" optionLabelField="title" value="{folderId}" property="folder" prependOptionLabel="Select folder" id="folder" name="folder"  />
						<f:form.submit class="btn" value="Update"/>
					</f:form>
				</f:then>
			</f:security.ifAccess>
		</div>
		<div class="clearfix">
			<div class="span9 clearfix">
				<f:if condition="{archiveView}">
					<f:then>
						<f:for each="{archiveView}" as="archiveYearDate" key="year">
							<ul><b>{year}</b>
								<f:for each="{archiveYearDate}" as="newsCount" key="month">
									<li><f:link.action action="index" controller="news" arguments="{category: archiveCategory, folder: archiveFolder, year:year, month: month}">{month-> f:format.date(format: 'F')}</f:link.action> &nbsp;&nbsp;({newsCount})</li>
								</f:for>
							</ul>
						</f:for>
					</f:then>
					<f:else>No news created yet !!!</f:else>
				</f:if>
			</div>
		</div>
	</div>
</f:section>
