<f:layout name="Default" />

<f:section name="Content">
	<div class="main-container">
		<div class="span7">
			<h2><f:translate id="lelesys.plugin.news.editNews"></f:translate></h2>
			<f:render partial="FlashMessage" arguments="{severityName: flashmessage}" />
		</div>
		<f:form action="update" object="{news}" name="news" enctype="multipart/form-data">
			<div class="tabbable tab tab-size">
				<ul class="nav nav-tabs">
					<li class="active"><a href="#tab1" data-toggle="tab"><f:translate id="lelesys.plugin.news.general"></f:translate></a></li>
					<li><a href="#tab2" data-toggle="tab"><f:translate id="lelesys.plugin.news.options"></f:translate></a></li>
					<li><a href="#tab3" data-toggle="tab"><f:translate id="lelesys.plugin.news.relations"></f:translate></a></li>
				</ul>
				<div class="tab-content">
					<div class="tab-pane active" id="tab1">
						<div class="control-group">
							<label for="title"><f:translate id="lelesys.plugin.news.title"></f:translate></label>
							<div class="controls">
								<f:form.textfield class="span5 newsTitle" property="title" id="title" />
								<f:render partial="FormErrors" arguments="{for: 'newNews.title'}" />
							</div>
						</div>
						<div class="control-group">
							<label for="subTitle"><f:translate id="lelesys.plugin.news.subTitle"></f:translate></label>
							<div class="controls">
								<f:form.textarea class="span5" rows="4" cols="5" property="subTitle" id="subTitle" />
							</div>
						</div>
						<div class="control-group">
							<label for="alternativeTitle"><f:translate id="lelesys.plugin.news.alternativeTitle"></f:translate></label>
							<div class="controls">
								<f:form.textfield class="span5" property="alternativeTitle" id="alternativeTitle" />
							</div>
						</div>
						<div class="control-group">
							<label for="authorName"><f:translate id="lelesys.plugin.news.authorName"></f:translate></label>
							<div class="controls">
								<f:form.textfield class="span5" property="authorName" id="authorName" />
							</div>
						</div>
						<div class="control-group">
							<label for="authorEmail"><f:translate id="lelesys.plugin.news.authorEmail"></f:translate></label>
							<div class="controls">
								<f:form.textfield class="span5" property="authorEmail" id="authorEmail" />
								<f:render partial="FormErrors" arguments="{for: 'newNews.authorEmail'}" />
							</div>
						</div>
						<div class="control-group">
							<label for="dateTime"><f:translate id="lelesys.plugin.news.dateTime"></f:translate></label>
							<div class="controls">
								<f:form.textfield type="datetime" value="{news.dateTime -> f:format.date(format: 'm/d/Y')}" property="dateTime" id="dateTime" class="datepicker span5"/>
							</div>
						</div>
						<div class="control-group">
							<label for="startDate"><f:translate id="lelesys.plugin.news.startDate"></f:translate></label>
							<div class="controls">
								<f:form.textfield type="datetime" value="{news.startDate -> f:format.date(format: 'm/d/Y')}" property="startDate" id="startDate" class="datepicker span5"/>
							</div>
						</div>
						<div class="control-group">
							<label for="endDate"><f:translate id="lelesys.plugin.news.endDate"></f:translate></label>
							<div class="controls">
								<f:form.textfield type="datetime" value="{news.endDate -> f:format.date(format: 'm/d/Y')}" property="endDate" id="endDate" class="datepicker span5"/>
							</div>
						</div>
						<div class="control-group">
							<label for="folder"><f:translate id="lelesys.plugin.news.folder"></f:translate></label>
							<div class="controls">
								<f:form.select options="{folders}" optionLabelField="title" id="folders" prependOptionLabel="Select folder" property="folder" class="span5"></f:form.select>
							</div>
						</div>
						<div class="control-group">
							<label for="news-description"><f:translate id="lelesys.plugin.news.description"></f:translate></label>
							<div class="controls span10 nice-edit-size">
								<f:form.textarea cols="43" rows="10" property="description" id="news-description" />
							</div>
						</div>
					</div>
					<div class="tab-pane" id="tab2">
						<div class="control-group">
							<label for="categories"><f:translate id="lelesys.plugin.news.categories"></f:translate></label>
							<div class="controls">
								<f:if condition="{newsCategories}">
									<f:then>
										<f:form.select class="span5" options="{newsCategories}" optionLabelField="title" id="categories" property="categories" multiple="true" size="7"></f:form.select>
									</f:then>
									<f:else>
										<f:form.select disabled="disabled" class="span5" options="{newsCategories}" optionLabelField="title" id="categories" property="categories" size="7"></f:form.select>
									</f:else>
								</f:if>
							</div>
						</div>
						<div class="control-group">
							<label for="tags"><f:translate id="lelesys.plugin.news.tags"></f:translate></label>
							<f:if condition="{newsTags}">
								<f:then>
									<f:for each="{newsTags}" as="tag">
										<span class="loader" style="display: none;"><img src="{f:uri.resource(path: 'images/ajax-loader.gif')}"/></span>
										<span class="badge">
											<i class="icon-tag"></i>
											&nbsp;{tag.title}&nbsp;
											<f:link.external uri="javascript:void(0)" class="remove-tag" title="Delete"><i class="icon-trash"></i></f:link.external>
											<f:form.hidden value="{tag.uuid}" class="tag-id" name="tag[uuid]" />
										</span>
									</f:for>
									<br />
								</f:then>
							</f:if>
							<div class="controls">
								<f:form.textfield name="tags[title]" id="tags"/>
							</div>
						</div>
						<div class="control-group">
							<label for="relatedNews"><f:translate id="lelesys.plugin.news.relatedNews"></f:translate></label>
							<div class="controls">
								<f:if condition="{relatedNews}">
									<f:then>
										<f:form.select class="span5" options="{relatedNews}" optionLabelField="title" id="relatedNews" property="relatedNews" multiple="true" size="7"></f:form.select>
									</f:then>
									<f:else>
										<f:form.select disabled="disabled" class="span5" options="{relatedNews}" optionLabelField="title" id="relatedNews" property="relatedNews" size="7"></f:form.select>
									</f:else>
								</f:if>
							</div>
						</div>
						<div class="control-group">
							<label for="keywords"><f:translate id="lelesys.plugin.news.keywords"> ( , )</f:translate></label>
							<div class="controls">
								<f:form.textarea class="span5" rows="4" cols="5" property="keywords" id="keywords" />
							</div>
						</div>
					</div>
					<f:form.hidden value="{news.uuid}" class="news-id" />
					<div class="tab-pane" id="tab3">
						<label><f:translate id="lelesys.plugin.news.mediaElement"></f:translate></label>
						<div class="accordion" id="accordionOne">
							<div class="accordion-group" style="display: none;">
								<div class="accordion-heading">
									<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordionOne" href="#collapse-media-0">
										Related Media #0
									</a>
								</div>
								<div id="collapse-media-0" class="accordion-body collapse in">
									<div class="accordion-inner">
										<div class="control-group">
											<label class="control-label" for="resource-0"><f:translate id="lelesys.plugin.news.image"></f:translate></label>
											<div class="controls">
												<f:form.upload name="media[0][resource]" id="resource-0" />
											</div>
										</div>
										<div class="control-group">
											<label class="control-label" for="caption-0"><f:translate id="lelesys.plugin.news.caption"></f:translate></label>
											<div class="controls">
												<f:form.textfield class="span5" name="media[0][caption]" id="caption-0" />
											</div>
										</div>
									</div>
								</div>
							</div>
							<f:for each="{media}" as="asset" iteration="indexIteration">
								<div class="accordion-group">
									<div class="accordion-heading">
										<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordionOne" href="#collapse-media-{indexIteration.cycle}">
											{asset.resource.fileName}
										</a>
										<div class="loader pull-right remove-file" style="display: none; margin-right: 50px;  margin-top: -26px;"><img src="{f:uri.resource(path: 'images/ajax-loader.gif')}"/></div>
										<f:link.external uri="javascript:void(0)" class="pull-right remove-file remove-media tooltip-demo" rel="tooltip" title="Delete"><i class="icon-trash"></i></f:link.external>
									</div>
									<div id="collapse-media-{indexIteration.cycle}" class="accordion-body collapse">
										<div class="accordion-inner">
											<div class="control-group">
												<label class="control-label" for="resource"><f:translate id="lelesys.plugin.news.image"></f:translate></label>
												<div class="controls">
													<f:form.upload style="display: none;" name="media[{indexIteration.cycle}][resource]" id="resource-{indexIteration.cycle}" />
													<img class="thumbnail" src="{f:uri.resource(resource: asset.resource)}" alt="{asset.caption}" width="100"/>
												</div>
											</div>
											<div class="control-group">
												<label class="control-label" for="caption"><f:translate id="lelesys.plugin.news.caption"></f:translate></label>
												<div class="controls">
													<f:form.textfield value="{asset.caption}" class="span5" name="media[{indexIteration.cycle}][caption]" id="caption-{indexIteration.cycle}" />
												</div>
												<f:form.hidden value="{asset}" class="asset-id" name="media[{indexIteration.cycle}][uuid]" />
											</div>
										</div>
									</div>
								</div>
							</f:for>
							<f:link.external uri="javascript:void(0)" class="add-more-media"><f:translate id="lelesys.plugin.news.addMoreMedia"></f:translate></f:link.external>
						</div>
						<label><f:translate id="lelesys.plugin.news.relatedFiles"></f:translate></label>
						<div class="accordion" id="accordionTwo">
							<div class="accordion-group" style="display: none;">
								<div class="accordion-heading">
									<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordionTwo" href="#collapse-file-0">
										Related File #0
									</a>
								</div>
								<div id="collapse-file-0" class="accordion-body collapse in">
									<div class="accordion-inner">
										<div class="control-group">
											<label class="control-label" for="file-resource-0"><f:translate id="lelesys.plugin.news.file"></f:translate></label>
											<div class="controls">
												<f:form.upload name="file[0][resource]" id="file-resource-0" />
											</div>
										</div>
										<div class="control-group">
											<label class="control-label" for="file-title-0"><f:translate id="lelesys.plugin.news.title"></f:translate></label>
											<div class="controls">
												<f:form.textfield class="span5" name="file[0][title]" id="file-title-0" />
											</div>
										</div>
									</div>
								</div>
							</div>
							<f:for each="{files}" as="file" iteration="indexIteration">
								<div class="accordion-group">
									<div class="accordion-heading">
										<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordionTwo" href="#collapse-file-{indexIteration.cycle}">
											{file.resource.fileName}
										</a>
										<div class="loader pull-right remove-file" style="display: none; margin-right: 50px;  margin-top: -26px;"><img src="{f:uri.resource(path: 'images/ajax-loader.gif')}"/></div>
										<f:link.external uri="javascript:void(0)" class="pull-right remove-file delete-file tooltip-demo" rel="tooltip" title="Delete"><i class="icon-trash"></i></f:link.external>
									</div>
									<div id="collapse-file-{indexIteration.cycle}" class="accordion-body collapse">
										<div class="accordion-inner">
											<div class="control-group">
												<label class="control-label" for="file-resource"><f:translate id="lelesys.plugin.news.file"></f:translate></label>
												<div class="controls">
													<f:form.upload style="display: none;" name="file[{indexIteration.cycle}][resource]" id="file-resource-{indexIteration.cycle}" />
													<f:link.action action="downloadFile" arguments="{file: file.resource}" controller="news">{file.resource.fileName}</f:link.action>
												</div>
											</div>
											<div class="control-group">
												<label class="control-label" for="file-title"><f:translate id="lelesys.plugin.news.title"></f:translate></label>
												<div class="controls">
													<f:form.textfield value="{file.title}" class="span5" name="file[{indexIteration.cycle}][title]" id="file-title-{resource.cycle}" />
													<f:form.hidden value="{file}" class="file-id" name="file[{indexIteration.cycle}][uuid]" />
												</div>
											</div>
										</div>
									</div>
								</div>
							</f:for>
							<f:link.external uri="javascript:void(0)" class="add-more-files"><f:translate id="lelesys.plugin.news.addMoreFiles"></f:translate></f:link.external>
						</div>
						<label><f:translate id="lelesys.plugin.news.relatedLinks"></f:translate></label>
						<div class="accordion" id="collapseThree">
							<div class="accordion-group" style="display: none;">
								<div class="accordion-heading">
									<a class="accordion-toggle" data-toggle="collapse" data-parent="#collapseThree" href="#collapse-link-0">
										Related Link #0
									</a>
									<f:form.hidden class="show-hide-value" value="0" name="relatedLink[0][hidden]" />
									<f:link.external uri="javascript:void(0)" class="asset-toggle hide-asset pull-right hide-show-file tooltip-demo" rel="tooltip" title="Hide"><i class="icon-eye-close"></i> </f:link.external>
								</div>
								<div id="collapse-link-0" class="accordion-body collapse in">
									<div class="accordion-inner">
										<div class="control-group">
											<label class="control-label" for="relatedLinks-0"><f:translate id="lelesys.plugin.news.uri"></f:translate></label>
											<div class="controls">
												<f:form.textfield class="span5 text-added"  name="relatedLink[0][relatedUri]" id="relatedLinks-0" />
											</div>
										</div>
										<div class="control-group">
											<label class="control-label" for="relatedLinks-title-0"><f:translate id="lelesys.plugin.news.title"></f:translate></label>
											<div class="controls">
												<f:form.textfield class="span5"  name="relatedLink[0][relatedUriTitle]" id="relatedLinks-title-0" />
											</div>
										</div>
										<div class="control-group">
											<label class="control-label" for="relatedLinks-description-0"><f:translate id="lelesys.plugin.news.description"></f:translate></label>
											<div class="controls">
												<f:form.textarea class="span5" rows="4" cols="5" name="relatedLink[0][relatedUriDescription]" id="relatedLinks-description-0" />
											</div>
										</div>
									</div>
								</div>
							</div>
							<f:for each="{relatedLinks}" as="link" iteration="indexIteration">
								<div class="accordion-group">
									<div class="accordion-heading">
										<a class="accordion-toggle" data-toggle="collapse" data-parent="#collapseThree" href="#collapse-link-{indexIteration.cycle}">
											{link.uri}
										</a>
										<div class="loader pull-right remove-file" style="display: none; margin-right: 50px;  margin-top: -26px;"><img src="{f:uri.resource(path: 'images/ajax-loader.gif')}"/></div>
										<f:link.external uri="javascript:void(0)" class="pull-right remove-file remove-related-link tooltip-demo" rel="tooltip" title="Delete"><i class="icon-trash"></i></f:link.external>
										<f:if condition="{link.hidden} == 1">
											<f:then>
												<f:form.hidden class="show-hide-value" value="1" name="relatedLink[{indexIteration.cycle}][hidden]" />
												<f:link.external uri="javascript:void(0)" class="asset-toggle show-asset tooltip-demo pull-right hide-show-file" rel="tooltip" title="Show"><i class="icon-eye-open"></i></f:link.external>
											</f:then>
											<f:else>
												<f:form.hidden class="show-hide-value" value="0" name="relatedLink[{indexIteration.cycle}][hidden]" />
												<f:link.external uri="javascript:void(0)" class="asset-toggle hide-asset tooltip-demo pull-right hide-show-file" rel="tooltip" title="Hide"><i class="icon-eye-close"></i> </f:link.external>
											</f:else>
										</f:if>
									</div>
									<div id="collapse-link-{indexIteration.cycle}" class="accordion-body collapse">
										<div class="accordion-inner">
											<div class="control-group">
												<label class="control-label" for="relatedLinks-1"><f:translate id="lelesys.plugin.news.uri"></f:translate></label>
												<div class="controls">
													<f:form.textfield class="span5 text-added" value="{link.uri}" name="relatedLink[{indexIteration.cycle}][relatedUri]" id="relatedLinks-{indexIteration.cycle}" />
												</div>
											</div>
											<div class="control-group">
												<label class="control-label" for="relatedLinks-title-1"><f:translate id="lelesys.plugin.news.title"></f:translate></label>
												<div class="controls">
													<f:form.textfield class="span5" value="{link.title}" name="relatedLink[{indexIteration.cycle}][relatedUriTitle]" id="relatedLinks-title-{indexIteration.cycle}" />
												</div>
											</div>
											<div class="control-group">
												<label class="control-label" for="relatedLinks-description-{indexIteration.cycle}"><f:translate id="lelesys.plugin.news.description"></f:translate></label>
												<div class="controls">
													<f:form.textarea class="span5" value="{link.description}" rows="4" cols="5" name="relatedLink[{indexIteration.cycle}][relatedUriDescription]" id="relatedLinks-description-{indexIteration.cycle}" />
													<f:form.hidden value="{link.uuid}" class="link-id" name="relatedLink[{indexIteration.cycle}][uuid]" />
												</div>
											</div>
										</div>
									</div>
								</div>
							</f:for>
							<f:link.external uri="javascript:void(0)" class="add-more-related-link"><f:translate id="lelesys.plugin.news.addMoreRelatedLinks"></f:translate></f:link.external>
						</div>
					</div>
				</div>
				<div class="control-group">
					<div class="controls">
						<f:form.submit class="btn createNews" value="Update" />
					</div>
				</div>
			</div>
		</f:form>
	</div>
	<!--This js is to display rte -->
	<script src="{f:uri.resource(path:'nicEdit/nicEdit.js')}" type="text/javascript"></script>
	<script src="{f:uri.resource(path:'nicEdit/domscript.js')}" type="text/javascript"></script>
	<script>
		var validEmail = '<f:translate id="lelesys.plugin.news.validEmail"></f:translate>'
		var requiredField = '<f:translate id="lelesys.plugin.news.requiredField"></f:translate>'
		var deleteMessage = '<f:translate id="lelesys.plugin.news.confirmDelete"></f:translate>'
		removeAsset = "{f:uri.action(package:'Lelesys.Plugin.News', action:'removeAsset', controller:'News')}";
		removeTag = "{f:uri.action(package:'Lelesys.Plugin.News', action:'removeTag', controller:'News')}";
		removeFile = "{f:uri.action(package:'Lelesys.Plugin.News', action:'removeRelatedFile', controller:'News')}";
		removeRelatedLink = "{f:uri.action(package:'Lelesys.Plugin.News', action:'removeRelatedLink', controller:'News')}";
		showAsset= "{f:uri.action(package:'Lelesys.Plugin.News', action:'showAsset', controller:'News')}";
		hideAsset= "{f:uri.action(package:'Lelesys.Plugin.News', action:'hideAsset', controller:'News')}";
		showFile= "{f:uri.action(package:'Lelesys.Plugin.News', action:'showFile', controller:'News')}";
		hideFile= "{f:uri.action(package:'Lelesys.Plugin.News', action:'hideFile', controller:'News')}";
		showLink= "{f:uri.action(package:'Lelesys.Plugin.News', action:'showLink', controller:'News')}";
		hideLink= "{f:uri.action(package:'Lelesys.Plugin.News', action:'hideLink', controller:'News')}";
	</script>
</f:section>