<f:layout name="Default" />

<f:section name="Title"></f:section>

<f:section name="Content">
	<div class="news-list-container container-fluid">
		<h2><f:translate id="lelesys.plugin.news.searchResults"></f:translate></h2>
		<f:if condition="{newsSearched}">
			<f:then>
				<f:widget.paginate objects="{newsSearched}" as="searchPagination" configuration="{f:if(condition:'{itemsPerPage}', then: {itemsPerPage: itemsPerPage}, else: {itemsPerPage: 10})}">
					<f:for each="{searchPagination}" as="news">
						<div class="clearfix">
							<f:render partial="NewsList" arguments="{news: news, assetsForNews: assetsForNews}" />
							<f:if condition="{news.authorName}">
								<f:then>
									<div class="news_footer">
										<span class="date">author name: &nbsp;{news.authorName}</span>
									</div>
								</f:then>
								<f:else>
									<hr/>
								</f:else>
							</f:if>
						</div>
					</f:for>
				</f:widget.paginate>
			</f:then>
			<f:else>
				<p><f:translate id="lelesys.plugin.news.noSearchResultsFound"></f:translate></p>
			</f:else>
		</f:if>
	</div>
</f:section>