<f:layout name="Default" />

<f:section name="Title"></f:section>

<f:section name="Content">
	<div class="main-container">
		<h2>Add Tag</h2>
		<f:form action="create" name="newTag" >
			<div class="control-group">
				<label for="title">Title</label>
				<div class="controls">
					<f:form.textfield property="title" id="title" class="span3 tagTitle"/>
					<f:render partial="FormErrors" arguments="{for: 'newTag.title'}" />
				</div>
			</div>
			<div class="control-group">
				<div class="controls">
					<f:form.submit class="btn create-tag" value="Create"/>
				</div>
			</div>
		</f:form>
	</div>
</f:section>