<f:layout name="Default" />

<f:section name="Title"></f:section>

<f:section name="Content">
	<div class="main-container">
		<h2><f:translate id="lelesys.plugin.news.addTag"></f:translate></h2>
		<f:form action="create" name="newTag" >
			<div class="control-group">
				<label for="title"><f:translate id="lelesys.plugin.news.title"></f:translate></label>
				<div class="controls">
					<f:form.textfield property="title" id="title" class="span3 tagTitle"/>
					<f:render partial="FormErrors" arguments="{for: 'newTag.title'}" />
				</div>
			</div>
			<div class="control-group">
				<div class="controls">
					<f:form.submit class="btn create-tag" value='<f:translate id="lelesys.plugin.news.create"></f:translate>'/>
				</div>
			</div>
		</f:form>
	</div>
</f:section>