<f:layout name="Default" />

<f:section name="Title"></f:section>

<f:section name="Content">
	<div class="container-fluid">
		<div class="horizontal ">
			<h2>News List</h2>
		</div>
		<f:if condition="{tagNews}">
			<f:then>
				<f:for each="{tagNews}" as="news">
					<div class="clearfix">
						<div class="clearfix">
							<div class="title-link">
								<f:link.action action="show" arguments="{news: news}" controller="news">{news.title}</f:link.action>
								<p class="date">Published on {news.dateTime -> f:format.date(format: 'j M y, h:i A')}</p>
							</div>
							<article>
								<f:if condition="{news.assets}">
									<f:then>
										<div class="asset-img">
											<f:for each="{news.assets}" as="asset" iteration="fooIterator">{f:if(condition: fooIterator.isLast, then: '<img src="{f:uri.resource(resource: asset.originalResource)}" class="thumbnail" alt="image" width="100" />')}
											</f:for>
										</div>
									</f:then>
									<f:else>
										<div class="asset-img">
											<img src="{f:uri.resource(path:'images/no_photo.jpg')}" alt="image" width="100" />
										</div>
									</f:else>
								</f:if>
								<div>
									<p>{news.subTitle}</p>
									<p class="date"><f:link.action action="show" arguments="{news: news}" controller="news">read more</f:link.action></p>
								</div>
							</article>
						</div>
						<f:if condition="{news.authorName}">
							<f:then>
								<div class="news_footer">
									<span class="date">author name: &nbsp;{news.authorName}</span>
								</div>
							</f:then>
							<f:else>
								<hr/>
							</f:else>
						</f:if>
					</div>
				</f:for>
				<f:link.action action="index" controller="tag">Back</f:link.action>
			</f:then>
			<f:else>
				<p>No records to display</p>
				<f:link.action action="index" controller="tag">Back</f:link.action>
			</f:else>
		</f:if>
	</div>
</f:section>