/************************ show view *********************/

.rel_title label {
    border-bottom: 1px dotted #C4C4C4;
}
.backend-news-slider {
	width: 65%;
}
.nice-edit-size {
	color: #555555;
	margin-left: 0 !important;
}
.datepicker-days,
.datepicker-months,
.datepicker-years {
	color: #555555;
}
.datepicker-days th,
.datepicker-months th,
.datepicker-years th {
	font-weight: bold;
}
.hide-show-file {
    margin-right: 11px;
    margin-top: -25px;
}
.remove-file {
    margin-right: 32px;
    margin-top: -25px;
}

/*alpha6 neos*/
.module-tab .tab-content {
	overflow: hidden;
}
.module-accordian .accordion-inner {
	padding: 9px 15px;
}
.newsRelations {
	margin-bottom: 30px !important;
	margin-top: 10px !important;
}
label.newslabel {
	cursor: text;
    font-weight: bolder;
    text-decoration: underline;
}
legend.newsHeader {
	color: #fff;
}