/*
	Slideshow
*/

#slides {
	z-index:100;
}

/*
	Slides container
	Important:
	Set the width of your slides container
	Set to display none, prevents content flash
*/

.slides_container {
	width:570px;
	overflow:hidden;
	position:relative;
	display:none;
	margin-bottom: 10px;
}

/*
	Each slide
	Important:
	Set the width of your slides
	If height not specified height will be set by the slide content
	Set to display block
*/


.slides_container a {
	width:570px;
	display:block;
}
.slides_container a img {
	display:block;
}
.slides_control {
	height: 200px !important;
}
/*
	Pagination
*/

#slides .pagination {
	position: relative;
	top: 5px;
	left: 100px;
	width:100px;
}

#slides .pagination li {
	float:left;
	margin:0 1px;
	list-style:none;
}

#slides .pagination li a {
	display:block;
	width:12px;
	height:0;
	padding-top:12px;
	background-image:url(../images/pagination.png);
	background-position:0 0;
	float:left;
	overflow:hidden;
}

#slides .pagination li.current a {
	background-position:0 -12px;
}