<f:layout name="Default" />

<f:section name="Title"></f:section>

<f:section name="Content">
	<div class="main-container">
		<h2>Edit Category</h2>
		<f:form action="update" object="{category}" name="category" enctype="multipart/form-data">
			<div class="control-group">
				<label for="title">Title</label>
				<div class="controls">
					<f:form.textfield property="title" id="title" class="span3 title-category"/>
					<f:render partial="FormErrors" arguments="{for: 'category.title'}" />
				</div>
			</div>
			<div class="control-group">
				<label for="image">Image</label>
				<div class="controls">
					<f:if condition="{category.image}">
						<img src="{f:uri.resource(resource: category.image)}" class="thumbnail" alt="image" width="100" />
					</f:if>
					<f:form.upload property="image" id="image" />
				</div>
			</div>
			<div class="control-group">
				<label for="parentcategory">Parent Category</label>
				<div class="controls">
					<f:form.select options="{newsParentCategory}" optionLabelField="title" prependOptionLabel="select category" id="parentCategory" property="parentCategory" class="span3" ></f:form.select>
				</div>
			</div>
			<div class="control-group">
				<label for="description">Description</label>
				<div class="controls">
					<f:form.textarea rows="4" cols="8" property="description" id="description" class="span3"/>
				</div>
			</div>
			<div class="control-group">
				<label for="folder">Folder</label>
				<div class="controls">
					<f:form.select options="{folders}" optionLabelField="title" id="folders" prependOptionLabel="Select folder" property="folder" class="span3"></f:form.select>
				</div>
			</div>
			<div class="control-group">
				<div class="controls">
					<f:form.submit class="btn" value="Update"/>
				</div>
			</div>
		</f:form>
	</div>
	<script>
		checkTitle = "{f:uri.action(package:'Lelesys.Plugin.News', action:'checkTitle', controller:'Category')}";
	</script>
</f:section>

