<link href="{f:uri.resource(path: 'resource://Lelesys.Plugin.News/Public/StyleSheets/bootstrap.min.css')}" rel="stylesheet" media="screen">
<link href="{f:uri.resource(path: 'resource://Lelesys.Plugin.News/Public/StyleSheets/bootstrap-responsive.css')}" rel="stylesheet" media="screen">
<link href="{f:uri.resource(path: 'resource://Lelesys.Plugin.News/Public/StyleSheets/default-backend.css')}" rel="stylesheet" media="screen">
<link href="{f:uri.resource(path: 'resource://Lelesys.Plugin.News/Public/StyleSheets/datepicker.css')}" rel="stylesheet" media="screen">
<link href="{f:uri.resource(path: 'resource://Lelesys.Plugin.News/Public/StyleSheets/jquery.lightbox-0.5.css')}" rel="stylesheet" media="screen">