<div style="border-top: 5px solid #F7DCDB;"></div>
<div style="clear: both; padding: 10px; display: inline-block;">
	<span style="margin-right: 100px; float: left;">
		<p>Logo here</p>
	</span>
	<h2 style="float: left; color:#D8AFAD;">Comment Approval</h2>
</div>
<div style="margin:20px 0px; clear: both;">
	<p>Name: {comment.name}</p>
	<p>Email: {comment.email}</p>
	<p>Blog url: {comment.url}</p>
	<div>
		<p>Message:</p>
		<div>
			<f:format.nl2br>{comment.message}</f:format.nl2br>
		</div>
	</div>
</div>
<div style="padding: 10px; color: #DAB7B7; background: #F7EAEB; text-align: right;">
	<span>© 2013 Lelesys Plugin News</span>
</div>